* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wadahKotakCentang input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.wadahKotakCentang *,
.wadahKotakCentang ::after,
.wadahKotakCentang ::before {
  box-sizing: border-box;
  user-select: none;
}

.wadahKotakCentang {
  position: relative;
  display: block;
  overflow: hidden;
}

.wadahKotakCentang .label {
  cursor: pointer;
}

.wadahKotakCentang .centang {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.wadahKotakCentang .label svg {
  vertical-align: middle;
}

.wadahKotakCentang .lokasi1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.5s stroke-dashoffset;
  opacity: 0;
}

.wadahKotakCentang .centang:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}
